@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@700&family=Roboto:wght@500&display=swap');
 :root {
     --color: #ff5252;
     --t-color: #575757;
     --d-c:#2d3436;
     --c: #e9e9e9;
     --b:linear-gradient(to right, #1C6CED, #1FFBC5);;
 }

 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 body{
     overflow-x: hidden;
     background: var(--b);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
 }
 ul,li {
     list-style: none;
 }
 a{
     text-decoration: none;
 }
 header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #ffffff;
     box-shadow: 0 0 0 4px rgba(0,0,0,0.15),  0 4px 5px rgba(0,0,0,0.3);
     z-index: 10;
     position: relative;
     top: 0;
     left: 0;
 }
 
header .logo{
    padding: 20px 25px;
    cursor: pointer;
    text-transform: uppercase;
}
header .logo h1{
    font-family: 'Montserrat', sans-serif;
    color: var(--t-color)
}
header .nav{
    position: relative;
    

    
}
header .nav ul {
    display: inline-flex;
    justify-content: space-between;
}
header .nav ul li{
    padding: 30px;
    transition: all .4s ease;
    cursor: pointer;
}
header .nav ul li h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
}
header .nav ul li:hover, header .nav ul li.active{
    background-color: var(--d-c );
    box-shadow: 0px -4px 0px var(--color) inset;
    color: #fff;
}
.bar{
    display: none;
    margin-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: #797979;

}


/* Side Bar*/

.nav-mobile{
    position: relative;
    display: none;
}
aside{
    top: 10px;
    position: relative;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.15),  0 4px 5px rgba(0,0,0,0.3);
    width: fit-content;
    height: 100%;
    z-index: 10;
    background-color: #ffffff;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    float: left;
}
aside h1{
    padding: 20px;
    text-transform: uppercase;
    color: var(--t-color)
}
.close-sidebar{
    float: right;
    font-size: 1em;
    cursor: pointer;
    display: none;
}
aside .user-side{
    padding: 20px;
    border-top: 1px solid var(--c);
}
aside .user-pic{
    float: left;
    width: 75px;
    height: 75px;
    padding: 5px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}
aside .user-pic img{
    width: 100%;
    height: 100%;
}
aside .user-info{
    display: flex;
    flex-direction: column;
    color: var(--t-color);
       
}
aside .name{
    font-size: 1.5em;
    margin-bottom: 4px;
    font-weight: 900;
}
aside .email,aside .status{
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
}
aside .status{
    position: relative;
    margin-left: 15px;
    margin-top: 3px;

}
aside .status::before{
    content: "";
    position: absolute;
    background-color: lightgreen;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    left: -15px;
    top: 4px;

}

aside .search{
    border-top: 1px solid var(--c);
    padding: 20px;
    align-items: center;
    margin: auto;
}
aside .search .row{
    display: flex;
    position: relative;
    width: 100%;
}
aside .search input{
    align-items: center;
    font-size: 1em;
    padding: 5px 20px;
    border: 1px solid var(--d-c);
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px 0px 0px 10px;
    font-weight: 100;
}
aside .search button{
    border: 1px solid var(--d-c);
    border-radius: 0 10px 10px 0;
    font-size: 1em;
    padding: 10px;
    background-color: var(--d-c);
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.side-nav{
    border-top: 1px solid var(--c);
    padding: 20px 0;
    margin-bottom: 40px;

}
.side-nav h2{
    color:var(--t-color);
    font-size : 1.5em;
    padding: 10px 0px 5px 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.side-nav ul li{
    display: flex;
    width: 100%;
    padding: 10px 5px 10px 35px;
    margin: 10px 0px 10px;
    cursor: pointer;
    transition: all 0.5s ease;

}
.side-nav ul li h3{
    line-height: 30px;
    font-size: 1em;
    font-weight: 100;
    color: var(--t-color);
}
.side-nav ul li.active,.side-nav ul li:hover{
    background-color: var(--c);
} 
.side-nav ul li span{ 
    margin-right: 15px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
   background: var(--color);
    border-radius: 5px;
    color: #fff;
    text-align: center;
    
}
.side-nav ul li span i{
    vertical-align: middle;
    
}


.bt-nav{
    background-color: var(--t-color);
    width: 100%;
    position: relative;
    bottom: 0;
}
.bt-nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0px 35px;
}
.bt-nav ul li{
    line-height: 40px;
    position: relative; 
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: auto;
}
.alert::after, .message::after{
    content: "";
    width: 8px;
    height: 8px; 
    background-color: lightgreen;
    position: absolute;
    top: 5px;
    border-radius: 100%;
}
.alert::after{
    background-color: red;
}
.m-bar{
    display: none;
}
.main{
    position: absolute;
    left: 350px;
    margin: 0;
}
.main section{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    display: none  ;
    

}
.main section h1{
    text-align: center;
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 2em;
    color: var(--d-c);
    margin-bottom: 20px;
}
.main section .text{
    font-weight: 500;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    height: 300px;
    font-size: 1em;
}
.usercontract{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 10px;

}
.usercontract .post{
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}
.usercontract .post:first-child{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--t-color);
}
.usercontract .post:first-child span{
    background-color: var(--color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}
.usercontract .post img{
    width: 100%;
    height: 100%;
}
.usercontract .post p {
    line-height: 30px;
    margin-left: 20px;
} 
@media (max-width: 900px) {
    header {
        width: 100%;
        box-shadow: unset;
        border-bottom: 1px solid #e9e9e9;
    }
    .nav{
        display: none;
    }
    .bar{
        display: block;
    }
    .nav-mobile{
        display: inline;
      position: fixed;
      z-index: 20;
      padding: 10px;
      background-color: #fff;
      width: 100%;
      transition: all .4s ease-in-out;
      left: 0;
      bottom: 0;
      top: 100%;
    }
    .nav-mobile ul{
        padding: 10px 20px;

    }
    .nav-mobile ul li{
        display: flex;
        padding: 10px;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s ease;
        color: var(--t-color);
    }
    .nav-mobile ul li.active,.nav-mobile ul li:hover {
        background: var(--b);
        color: #fff;
    }
    .nav-mobile ul li span{
        line-height: 1;
        font-size: 1em;
        -webkit-font-smoothing: antialiased;
    }
    .nav-mobile ul li h3{
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        margin-left: 10px;
    }
    .nav-mobile.show{
        top:9%;
        
    }
    .m-bar{
        
        display: block;
        position: relative;
        padding: 5px;
        font-size: 1.5em;
        border-radius: 0 0 10px 0;
        background-color: #fff;
        width: 30px;
        text-align: center;
        align-items: center;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        cursor: pointer;      
        
    }
    aside{
        transition: all .4s ease-in-out;
        overflow: hidden;
        top: 69px;
        width: 0;
        position: absolute;
        box-shadow: unset;
        

    }
    aside.show{
        
        width: 100%;

    }
    .close-sidebar{
        display: block;
    }
    .main {
        margin-left: 0px;
    }
    .main section {
        width: 100%;
    }
    .main section .text{
        padding: 10px;
    } 
  
}
@media(max-width: 450px) {
    .usercontract .post:first-child{
        height: 350px;
    }
    .usercontract .post img{
        width: 100%;
        height: 100%;
    }
}


/*User Info Div*/
.wrapper
{
 position: relative;
 padding-right: 15px;
 overflow: hidden;
 display: flex;
 box-shadow: 0 2px 25px rgba(69,90,10,0.2);
 box-sizing: border-box;
 left: 25%;
 margin-top: 50px;
}

.wrapper .right{
    
    border-radius: 10px;
    padding: 30px 20px;
    background-color: #fff;
    display: flex;
    vertical-align: middle;
    
}
.wrapper .right .info-data .data{
    
    padding: 15px 0px;
    border-bottom: 1px solid #575757;
    display: flex;
}
.wrapper .right .info-data .data:last-child{
    border: none;
}
.wrapper .right .info-data .data h4{
    margin-right: 20px;
    
}
.wrapper .right .info-data .data p{
    color: #919aa3;
    font-weight: 500;
    font-size: 0.7em;
    line-height: 20px;

}
.wrapper .right .info-data button {
    text-align: center;
    padding: 10px;
    color: #575757;
    border-radius: 10px;
    border: none;
    margin-top:20px;
    margin-left: 150px;
    cursor: pointer;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    background-color: #ff5252;
    color: #fff;
    opacity: 0.8;
    
}
.wrapper .right .info-data button:hover{
    opacity: 1;
}


/*User Update Info*/

.update .right .info-data .data input {
    color: #919aa3;
    font-weight: 500;
    font-size: 0.7em;
    line-height: 20px;
    border: none;
    width: 100%;
    display: inline;
    position: relative;
    
}
.update .right .info-data .data input:hover{
    cursor: pointer;
    border: 1px solid #919aa3;
}
.update .right .info-data .data h4{
    width: 100%;
 
}
