@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@700&family=Roboto:wght@500&display=swap');
 :root {
     --color: #ff5252;
     --t-color: #575757;
     --d-c:#2d3436;
     --c: #e9e9e9;
     --b:linear-gradient(to right, #1C6CED, #1FFBC5);;
 }

 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 body{
     overflow-x: hidden;
     background: var(--b);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;

 }
 ul,li {
     list-style: none;
 }
 a{
     text-decoration: none;
 }
 header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #ffffff;
     box-shadow: 0 0 0 4px rgba(0,0,0,0.15),  0 4px 5px rgba(0,0,0,0.3);
     z-index: 10;
     position: relative;
     top: 0;
     left: 0;
 }
 
header .logo{
    padding: 20px 25px;
    cursor: pointer;
    text-transform: uppercase;
}
header .logo h1{
    font-family: 'Montserrat', sans-serif;
    color: var(--t-color)
}
header .nav{
    position: relative;
    

    
}
header .nav ul {
    display: inline-flex;
    justify-content: space-between;
}
header .nav ul li{
    padding: 30px;
    transition: all .4s ease;
    cursor: pointer;
}
header .nav ul li h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
}
header .nav ul li:hover, header .nav ul li.active{
    background-color: var(--d-c );
    box-shadow: 0px -4px 0px var(--color) inset;
    color: #fff;
}
.bar{
    display: none;
    margin-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: #797979;

}


/* Side Bar*/

.nav-mobile{
    position: relative;
    display: none;
}
aside{
    top: 10px;
    position: relative;
    box-shadow: 0 0 0 4px rgba(0,0,0,0.15),  0 4px 5px rgba(0,0,0,0.3);
    width: fit-content;
    height: 100%;
    z-index: 10;
    background-color: #ffffff;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    float: left;
}
aside h1{
    padding: 20px;
    text-transform: uppercase;
    color: var(--t-color)
}
.close-sidebar{
    float: right;
    font-size: 1em;
    cursor: pointer;
    display: none;
}
aside .user-side{
    padding: 20px;
    border-top: 1px solid var(--c);
}
aside .user-pic{
    float: left;
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
    border: 2px solid rgba(0,0,0,0.1);
    top: -5px;
}
aside .user-pic img{
    width: 80px;
    height: 80px;
    
}
aside .user-info{
    display: flex;
    flex-direction: column;
    color: var(--t-color);
       
}
aside .name{
    font-size: 1.5em;
    margin-bottom: 4px;
    font-weight: 900;
}
aside .email,aside .status{
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
}
aside .status{
    position: relative;
    margin-left: 15px;
    margin-top: 3px;

}
aside .status::before{
    content: "";
    position: absolute;
    background-color: lightgreen;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    left: -15px;
    top: 4px;

}

aside .search{
    border-top: 1px solid var(--c);
    padding: 20px;
    align-items: center;
    margin: auto;
}
aside .search .row{
    display: flex;
    position: relative;
    width: 100%;
}
aside .search input{
    align-items: center;
    font-size: 1em;
    padding: 5px 20px;
    border: 1px solid var(--d-c);
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px 0px 0px 10px;
    font-weight: 100;
}
aside .search button{
    border: 1px solid var(--d-c);
    border-radius: 0 10px 10px 0;
    font-size: 1em;
    padding: 10px;
    background-color: var(--d-c);
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.side-nav{
    border-top: 1px solid var(--c);
    padding: 20px 0;
    margin-bottom: 40px;

}
.side-nav h2{
    color:var(--t-color);
    font-size : 1.5em;
    padding: 10px 0px 5px 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.side-nav ul li{
    display: flex;
    width: 100%;
    padding: 10px 5px 10px 35px;
    margin: 10px 0px 10px;
    cursor: pointer;
    transition: all 0.5s ease;

}
.side-nav ul li h3{
    line-height: 30px;
    font-size: 1em;
    font-weight: 100;
    color: var(--t-color);
}
.side-nav ul li.active,.side-nav ul li:hover{
    background-color: var(--c);
} 
.side-nav ul li span{ 
    margin-right: 15px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
   background: var(--color);
    border-radius: 5px;
    color: #fff;
    text-align: center;
    
}
.side-nav ul li span i{
    vertical-align: middle;
    
}


.bt-nav{
    background-color: var(--t-color);
    width: 100%;
    position: relative;
    bottom: 0;
}
.bt-nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0px 35px;
}
.bt-nav ul li{
    line-height: 40px;
    position: relative; 
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: auto;
}
.alert::after, .message::after{
    content: "";
    width: 8px;
    height: 8px; 
    background-color: lightgreen;
    position: absolute;
    top: 5px;
    border-radius: 100%;
}
.alert::after{
    background-color: red;
}
.m-bar{
    display: none;
}
.main{
    position: fixed;
    left: 350px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main section{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    display: none  ;
    

}
.main section h1{
    text-align: center;
    text-transform: uppercase;
    margin-left: 15px;
    font-size: 2em;
    color: var(--d-c);
    margin-bottom: 20px;
}
.main section .text{
    font-weight: 500;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    height: 300px;
    font-size: 1em;
}
.usercontract{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 10px;

}
.usercontract .post{
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}
.usercontract .post:first-child{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--t-color);
}
.usercontract .post:first-child span{
    background-color: var(--color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}
.usercontract .post img{
    width: 100%;
    height: 100%;
}
.usercontract .post p {
    line-height: 30px;
    margin-left: 20px;
} 
@media (max-width: 900px) {
    header {
        width: 100%;
        box-shadow: unset;
        border-bottom: 1px solid #e9e9e9;
    }
    .nav{
        display: none;
    }
    .bar{
        display: block;
    }
    .nav-mobile{
        display: inline;
      position: fixed;
      z-index: 20;
      padding: 10px;
      background-color: #fff;
      width: 100%;
      transition: all .4s ease-in-out;
      left: 0;
      bottom: 0;
      top: 100%;
    }
    .nav-mobile ul{
        padding: 10px 20px;

    }
    .nav-mobile ul li{
        display: flex;
        padding: 10px;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s ease;
        color: var(--t-color);
    }
    .nav-mobile ul li.active,.nav-mobile ul li:hover {
        background: var(--b);
        color: #fff;
    }
    .nav-mobile ul li span{
        line-height: 1;
        font-size: 1em;
        -webkit-font-smoothing: antialiased;
    }
    .nav-mobile ul li h3{
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        margin-left: 10px;
    }
    .nav-mobile.show{
        top:9%;
        
    }
    .m-bar{
        
        display: block;
        position: relative;
        padding: 5px;
        font-size: 1.5em;
        border-radius: 0 0 10px 0;
        background-color: #fff;
        width: 30px;
        text-align: center;
        align-items: center;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
        cursor: pointer;      
        
    }
    aside{
        transition: all .4s ease-in-out;
        overflow: hidden;
        top: 69px;
        width: 0;
        position: absolute;
        box-shadow: unset;
        

    }
    aside.show{
        
        width: 100%;

    }
    .close-sidebar{
        display: block;
    }
    .main {
        margin-left: 0px;
    }
    .main section {
        width: 100%;
    }
    .main section .text{
        padding: 10px;
    } 
  
}
@media(max-width: 450px) {
    .usercontract .post:first-child{
        height: 350px;
    }
    .usercontract .post img{
        width: 100%;
        height: 100%;
    }
}


/*User Info*/
.user-info-tab{
    width: 500px;
    margin-right: 0;
    margin-bottom: 30px;
    padding-left: 35px;
    font-size: 1em;
    padding: 0 auto;

    
}
.info{
    display: inline-flex;
    border-bottom: 1px solid #1C6CED;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    align-items: center;
    text-align: center;
}
.info span{
    
    vertical-align: middle;
    line-height: 23px;
    color: #797979;
    

}
.info h3{
    margin-right: 20px;
    margin-left: 20px;
 
}

/*Dropbox setting*/
.drop-box{

    position: absolute;
    width: 250px;
    padding: 5px 20px;
    background-color: #fff;
    right: 20px;
    box-shadow: 2px 2px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-top: 20px;
    display: none;
    top: 325px;
    transition: 0.5s;
    left: 58px;
    border: 1px solid #ccc;
    
    
}
.drop-box::before{
    content: "" ;
    background-color: #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -4px;
    right: 30px;
    transform: rotate(45deg);
    border: 1px solid #ccc;
    z-index: -10;
    
}
.drop-box ul{
    list-style: none;
}
.drop-box ul li a{
    text-decoration: none;
}
.drop-box ul li {
    padding: 15px 0px;
    border-top: 1px solid #cccccc;
    align-items: center;
    display: flex;
    margin-top: 5px;
}
.drop-box ul li:first-child{
    border: none;
}
.drop-box ul li i{
    font-size: 1.5em;
    color: #555;
    opacity: 0.7;
    transition: 0.5;
}
.drop-box ul li i a{
    margin-left: 10px;
    color: #555;
    font-size: 0.7em;
    vertical-align: middle;
    
    
}
.drop-box ul li:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0)!important;
}
.drop-box ul li:hover a{
    color: black;
}
.drop-box.visible{
    
    display: block;
}

/*Change password*/
.change-password-form .form-input{
    width: 100%;
}
.change-password-container{
    max-width: 450px!important;
    
}
.change-password-form{
    padding-top: 20px!important;
}
/*Update info form*/
.form-container {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    position: relative;
    margin-left: 200px;
    margin-top: 70px;
    font-size: 16px;

}
.form-tittle {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.5em;

}
.form-tittle::before{
    content: "";
    height: 3px;
    width: 140px;
    background: var(--b);
    top:65px;
    position: absolute;
}
.form-content {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-input{
    width: calc(100%/2);
    padding:0 15px;
    margin-bottom: 15px;
}
.form-input span{
    display: block;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 1.2em;
}
.form-input input {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 1em;
}
.form-input input:focus,.form-input input:valid,
.payment-detail input:focus,.payment-detail input:valid,
.payment-group-item input:focus, .payment-group-item input:valid{
    border-color:#1C6CED ;
    border-bottom-width: 2px;
}
.checkbox {
    padding-left: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.checkbox-tittle {
    display: inline-flex;
    font-size: 1.2em;
    padding-left: 5px;
}
.option-list{
    padding: 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.option-list label {
    cursor: pointer;
    align-items: center;
    display: inline-flex;
}
.dot {
    content: "";
    width:1em;
    height: 1em;
    background: #ccc;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
#radio-1:checked~ .option-list .radio-1,
#radio-2:checked~ .option-list .radio-2,
#radio-3:checked~ .option-list .radio-3 {
    background-color: #1C6CED;
}
.checkbox input {
    display: none;
}
.form-submit {
    text-align: center;
    align-items: center;
}
.form-submit input {
    width: 50%;
    font-size: 1.4em;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background: var(--b);
    opacity: 0.7;
    transition: all 300ms ease;
    cursor: pointer;
    font-weight: bolder;
}
.form-submit input:hover{
    opacity: 1;
}

/*Payment gateway*/
.payment-container {
    max-width: 400px!important;
}
.payment-form {
    padding:20px 30px 20px;
}
.payment-detail{
    position: relative;
}
.payment-detail span, .payment-group-item span{
    display: block;
    margin-bottom: 5px;
}
.payment-detail input, .payment-group-item input {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 1em;
    padding-left: 35px;
    margin-bottom: 20px;
}
.payment-detail-group{
    display: flex;
    justify-content: space-between;
}
.payment-group-item {
    width: 48%;
    position: relative;
}
.payment-icon {
    
    position: absolute;
    left: 10px;
    bottom: 33px;
    
}